/* font-family: 'Roboto'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

/* font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto';
}

.roboto {
    font-family: 'Roboto';
}

.slab   {
 font-family:'Roboto-slab', sans-serif;
}

.poppins {
    font-family:'Poppins', sans-serif;
}

