/* font-family: 'Roboto'; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

/* font-family: 'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #ffbb00;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto";
}

.roboto {
  font-family: "Roboto";
}

.slab {
  font-family: "Roboto-slab", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
P {
  font-size: 0.9rem;
}


#showcase {
  /* position: relative; */
  /* top: auto; */
  background-image: url(../img/Showcase.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-y: bottom;
  background-position-x: center;
  background-attachment: sticky;
  min-width: 1200px;
}

.top-nav .container, .navbar .container {
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none;
  font-weight: 600;
  color: white;
  margin-left: 1rem;
  padding: 1rem;
  display: inline-block;
  position: relative;
}
.link.active:hover::after {
    content: '';
    border-bottom: 2px solid #FFBB00;
    position: absolute;
    left: 1rem;
    right: 1.9rem;
    bottom: 0.7rem;
}
.link:hover {
    color: #FFBB00;
}
.button-app {
  padding: 0 2rem;
  height: 3rem;
  margin-top: 0.75rem;
  border: 1px solid transparent;
  border-radius: 10px;
  /* outline: none; */
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #FFBB00;
  color: white;
  margin-left: 5vh;
}
.button-app:hover {
    box-shadow: 3px 3px 15px rgba(51, 51, 51, 0.562), 3px 3px 15px rgba(51, 51, 51, 0.418);
}

.collapse:not(.show) {
  display: none;
}
.navbar-brand img {
  height: 3rem;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Roboto slab';
  color: #FFBB00;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.showcase-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.showcase-text {
  width: 50%;
  margin-bottom: 8vh;
}
.showcase-text h1 {
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2vh;
  margin-bottom: 4vh;
}
.showcase-text p {
  font-family: 'Poppins';
  font-size: 1.6vh;
  font-weight: normal;
  width: 80%;
  letter-spacing: 0.15vh;
  line-height: 3vh;
  margin-bottom: 3vh;
}
.showcase-content img {
  margin-right: -2rem;
  height: 80vh;
  margin-bottom: 8vh;
  /* display: block; */
}

.buttons {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  margin-bottom: 7vh;
}
/* .btn-2 {
  display: grid;
} */
.btn-download-now {
  margin-right: 1rem;
  padding: 0.6rem 2rem;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}
.btn-download-now:hover {
  border: 2px solid #FFBB00;
  box-shadow: 3px 6px 10px #FFBB00;
  text-shadow: 3px 6px 10px #333;
}

.btn-2 {
  display: inline-block;
}
.btn-watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 3rem;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  }
/* .btn-watch-video:hover {
      text-shadow: 6px 6px 15px #000000;
  } */
  .ball {
      display: inline-block;
      background-color: #FFBB00;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      transform: translate(-35%, -5%);
      /* margin-bottom: 0.5rem;
      margin-top: 2rem; */
      border: none;
  }
  #video {
      height: 20px; 
      transform: translate(-70%, 65%);
   }
  .btn-watch-video:hover .ball {
      /* background-color: var(--primary-color); */
  background-color: #FFBB00;
  width: 45px;
  height: 45px;
  left: -7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 3px rgb(150, 40, 40) solid; */
  outline: 1.5px solid peachpuff;
  outline-offset: 5px;
  }
.btn-watch-video:hover img {
  display: none;
}
.btn-watch-video:hover {
  font-size: 110%;
  text-shadow: 3px 6px 10px #333;
}
/*SHOWCASE END*/


/*LOGO BAR*/
.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0rem;
}







/* features section  Nchombua yvette*/

#features {
  background-color: rgb(238, 232, 232);
}
.features-intro button {
  color: var(--primary-color);
  background-color: #fff6d9;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 800;
}

.features-intro button:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.1s ease-in;
}

.features-intro h1,
.features-icons h4 {
  font-weight: 800;
}

.features-icons a img {
  margin-right: 1rem;
}

.features-icons a img:hover {
  background-color: tomato;
  border-radius: 50%;
  transform: translateY(5px);
  transition: all 0.1s ease-in;
}

.mobile img {
  margin-left: -6rem;
}

.features-intro {
  margin-right: -6rem;
}






/* MEDIA QUERIES */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
  a {
    padding: 0 .3rem;
  }
  .top-nav {
    display: block;
  }
  /* .showcase-text {
    display: block;
  } */
}