/* font-family: 'Roboto'; */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

/* font-family: 'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #ffbb00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto";
}

.roboto {
  font-family: "Roboto";
}

.slab {
  font-family: "Roboto-slab", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
P {
  font-size: 0.9rem;
}



/* features section  Nchombua yvette*/

#features {
  background-color: rgb(238, 232, 232);
}
.features-intro button {
  color: var(--primary-color);
  background-color: #fff6d9;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 800;
}

.features-intro button:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.1s ease-in;
}

.features-intro h1,
.features-icons h4 {
  font-weight: 800;
}

.features-icons a img {
  margin-right: 1rem;
}

.features-icons a img:hover {
  background-color: tomato;
  border-radius: 50%;
  transform: translateY(5px);
  transition: all 0.1s ease-in;
}

.mobile img {
  margin-left: -6rem;
}

.features-intro {
  margin-right: -6rem;
}
