* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
} 

/* DOWNLOAD-APPLICATION */

.downl-app {
    background-image: url("img/Bg.svg");
}
.downl-app .content{
   margin: 0 auto;
}
.downl-app .btn {
  display: flex;
  justify-content:space-between; 
  width: 14rem;
  height: 4.5rem;
  border: 1px transparent;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  background-color: #fff;
  cursor: pointer;
}
.downl-app .btn p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: normal;
  padding-top: 1rem;  
  padding-left: 1.5rem;
  text-align: left;
}
.downl-app .btn span{
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
}
.downl-app .image {
  height: 30px;
}

#email {
  background: #FBFBFB;
  border: transparent;
  font-size: 16px;
 }
#name {
    background: #FBFBFB;
    border: transparent;
    font-size: 16px;
}
#message {
    background: #FBFBFB;
    border: transparent;
    font-size: 16px;
}

.contact-us .btn {
    width: 10rem;
    border-radius: 10px;
    font-size: 16px;
   
}